#right-nav-forms {
  text-align: right;
  padding: 0;
}


#right-nav-forms .button {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #78bec8;
  color: white;
  margin-top: 14px;
}
