/*dashboard */
#dashboard {
  margin-bottom: 40px;
}
#dash-header {
  height: 80px;
}

#dash-header h2 {
  padding-top: 10px;
  font-size: 2em;
}

#c3-visuals {
  height: 300px;
}

#dash-buttons {
  height: 250px;
}

#dash-buttons-header {
  margin: 30px 0;
}

#dash-buttons-header h3 {
  font-size: 1.4em;
}

#dashboard button {
  height: 50px;
  width: 400px;
  background-color: #d87575;
  color: white;
}

#dash-button selected {
  background-color: crimson;
}

.test button {
  background-color: crimson !important;
}

#c3-visuals {

}

#dash-analysis {
  margin: 40px 0 80px 0;
  margin-left: 5%;
  width: 100%;
}

#dash-analysis li {
  list-style-type: none;
  text-align: center;
  /*border-top: 1px solid white;*/
  border-bottom: 1px solid white;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*padding-top: 13px;
  padding-bottom: 13px;*/
}

#dash-analysis ul {
  padding: 0;
}

#dash-analysis h3 {
  font-size: 1.2em;
  font-weight: 800;
}

#dash-analysis p {
  font-weight: 800;
  height: 40px;
  margin-bottom: 30px;
}

#dash-analysis .five {
  border-left: 2px solid white;
  border-right: 1px solid white;
}

#dash-analysis .five .five {
  border: none;
}
