/*login*/
#login, #signup {
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  top: 140px;
  left: 35%;
  right: 35%;
  background-color: #F2F2F2;
  padding-top: 40px;
  color: #484848;
}

#login {
  height: 320px;
}

#signup {
  height: 460px;
}

#login-form {

}

#login-border {
  border-bottom: 3px solid black;
  width: 80%;
  padding-bottom: 28px;
  margin: 0 auto;
}

.login-field label {
  display: block;
  font-size: 1.4em;
}

.login-field label:first-of-type {
  margin-bottom: 30px;
  margin-top: 10px;
}

.signup-field label:nth-of-type(-n + 4) {
  margin-bottom: 39px;
}

.login-field input {
  height: 34px;
  width: 80%;
  border-radius: 5px;
  font-size: 1.4em;
}

.login-field div:first-of-type {
  margin-bottom: 16px;
}

.signup-field div:nth-of-type(-n + 4) {
  margin-bottom: 16px;
}

.login-field:first-of-type {
  text-align: center;
}

.login-field:nth-of-type(2) {
  text-align: left;
}

.login-field:nth-of-type(2) {
  text-align: center;
  padding-top: 0 !important;
}


.login-field button {
  border-radius: 5px;
  width: 110px;
  height: 36px;
  background-color: #EA4335;
  color: white;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
}

.o-auth-button {
  margin-top: 30px;
}

.o-auth-button img {
  width: 40%;
}

/*back button*/

#sign-up-back-button button {
  color: white;
  background-color: #EA4335;
  width: 175px;
  height: 45px;
  font-size: 1.6em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 0;
  text-align: left;
  padding-left: 14px;
  border-radius: 5px;
}

#sign-up-back-button {
  text-align: left;
}

#sign-up-back-button button {
  margin-left: 50px;
  padding-right: 55px;
}




#sign-up-step {
  font-weight: 500;
}

#close-login {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

#close-login img {
  width: 26px;
}

#close-login a {
  color: black;
}
