* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #484848;
  background-color: #F2F2F2;
  font-family: 'Raleway', sans-serif;

}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}


@media only screen and (max-width: 767px) {
    #revenue-costs-form .seven  {
        text-align: center !important;
    }
    #revenue-costs-form .nine {
      padding-left: 40% !important;
    }

    #revenue-costs-form input, #revenue-costs-form label {
      margin: 0 !important;
    }
}
