* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #414141;
  font-family: 'Roboto' !important;

}

h1 {
  font-family: 'Roboto' !important;
}

h2 {
  font-family: 'Roboto' !important;
}

h3 {
  font-family: 'Roboto' !important;
}


/*NAV*/
#navbar {
  background-color: #78bec8;
  height: 68px;
}

#navbar h1 {
  color: white;
  font-size: 3em;
}

#right-nav-home {
  text-align: right;
  padding: 0;
}

#right-nav-home .button:first-of-type {
  border-right: 1px solid black;
  border-left: 2px solid black;
}

#right-nav-home .button {
  height: 68px;
  background-color: #78bec8;
  color: white;

}

#navbar .grid {
  height: 68px;
  margin: 0;
}

#demo-button {
  text-align: left;
}

#demo-button button {
  background-color: crimson;
  color: white;
}

#header {
  padding-top: 0.5rem;
}

/*homepage images*/

#main-image {
  height: 320px;
  background: url('./img/lakehole_cropped.png') no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

#support-image {
  height: 240px;
  background: url('./img/check.png') no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/*homepage about*/

.about {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.4em;
}

.about h3 {
  /*color: #3971AC;*/
  font-size: 1.6em;
}

.about-heading {
  background-color: #414141;
  height: 80px;
  padding-top: 12px;
}

.about-heading h3 {
  font-size: 3em;
}

/*homepage details*/

#details h3 {
  color: #3971AC;
  font-size: 1.2em;
}

#details {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  color: black;
}

#details ul {
  list-style: none;
  line-height: 2;
}

#details p {
  /*color: #3971AC;*/
  font-weight: 800;
}

#details .eight {
  border-right: 1px solid black;
}

/*footer*/

#footer {
  height: 40px;
  background-color: #78bec8;
  text-align: right;
  padding-right: 40px;
  color: white;
}

#footer .column {
  padding-bottom: 0;
}

/*login*/
#login, #signup {
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 26%;
  right: 26%;
  background-color: #414141;
  padding-top: 40px;
  color: #414141;
}

#login {
  height: 360px;
}

#signup {
  height: 540px;
}

#login-form {

}

#login-border {
  border-bottom: 3px solid black;
  width: 80%;
  padding-bottom: 20px;
  margin: 0 auto;
}

.login-field label {
  display: block;
  font-size: 2em;
}

.login-field label:first-of-type {
  margin-bottom: 30px;
  margin-top: 10px;
}

.signup-field label:nth-of-type(-n + 4) {
  margin-bottom: 39px;
}

.login-field input {
  height: 40px;
  width: 80%;
  border-radius: 5px;
  font-size: 2em;
}

.login-field div:first-of-type {
  margin-bottom: 16px;
}

.signup-field div:nth-of-type(-n + 4) {
  margin-bottom: 16px;
}

.login-field:first-of-type {
  text-align: center;
}

.login-field:nth-of-type(2) {
  text-align: left;
}

.login-field:nth-of-type(2) {
  text-align: center;
  padding-top: 0 !important;
}


.login-field button {
  border-radius: 5px;
  width: 160px;
  height: 50px;
  background-color: crimson;
  color: white;
  font-size: 2em;
}

.o-auth-button {
  margin-top: 10px;
}

.o-auth-button img {
  width: 60%;
}

/*back button*/

#sign-up-back-button button {
  color: white;
  background-color: crimson;
  width: 220px;
  height: 70px;
  font-size: 2.4em;
  padding: 0;
  text-align: right;
  padding-right: 14px;
  border-radius: 10px;
}

#sign-up-back-button {
  text-align: left;
}

#sign-up-back-button button {
  margin-left: 50px;
  padding-right: 55px;
}

/*basic info form*/

#step1 label, #step1 input {
  display: block;
}

#basic-info-form {
  margin: 40px 0;
}

#step1 label {
  font-size: 1.6em;
  margin: 44px 0;
}

#step1 input {
  font-size: 1.6em;
  margin: 32px 0;
  width: 160px;
}

#step1 .seven {
  text-align: right;
  padding-right: 40px;
  margin-top: -4px;

}

#step1 input:nth-of-type(-n + 3) {
  width: 360px;
}

#basic-info-form h3 {
  color: white;
  font-size: 1.8em;
}

#basic-info-submit-button button {
  color: white;
  background-color: crimson;
  width: 500px;
  height: 70px;
  font-size: 2.4em;
  padding: 0;
  text-align: right;
  padding-right: 14px;
  border-radius: 10px;
}

#basic-info-submit-button {
  text-align: right;
  padding-right: 50px;
}


#sign-up-step {
  font-weight: 800;
}

#close-login {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

#close-login img {
  width: 26px;
}

#close-login a {
  color: black;
}

/*revenue & costs form*/

#step2 label, #step2 input {
  display: block;
}

#revenue-costs-form {
  margin: 40px 0;
}

#step2 label {
  font-size: 1.6em;
  margin: 44px 0;
}

#step2 input {
  font-size: 1.6em;
  margin: 32px 0;
  width: 160px;
}

#step2 .seven {
  text-align: right;
  padding-right: 40px;
  margin-top: -4px;

}

#revenue-costs-form h3 {
  color: #3971AC;
  font-size: 1.8em;
}

#revenue-costs-submit-button button {
  color: white;
  background-color: crimson;
  width: 380px;
  height: 70px;
  font-size: 2.4em;
  padding: 0;
  text-align: right;
  padding-right: 14px;
  border-radius: 10px;
}

#revenue-costs-submit-button {
  text-align: right;
}

#revenue-costs-submit-button button {
  margin-right: 50px;
}

/*treatment form */
#step3 label, #step3 input, #step3 select {
  display: block;
  font-size: 1.6em;
}

#treatment-form {
  margin: 40px 0;
}

#step3 label {
  font-size: 1.6em;
  margin: 44px 0;
}

#step3 input, #step3 select {
  margin: 32px 0;

}

#step3 input, #step3 select {
    width: 160px;
    color: #414141;
}

#step3 input:nth-of-type(1) {
  width: 360px;
}

#step3 select:nth-of-type(1) {
  width: 320px;
}

#step3 select:nth-of-type(n + 2) {
  width: 100px;
}


#step3 .seven {
  text-align: right;
  padding-right: 40px;
  margin-top: -4px;

}

#treatment-form h3 {
  color: white;
  font-size: 1.8em;
}

#treatment-submit-button button {
  color: white;
  background-color: #3971AC;
  width: 380px;
  height: 70px;
  font-size: 2.4em;
  padding: 0;
  text-align: right;
  padding-right: 14px;
  border-radius: 10px;
}

#treatment-submit-button {
  text-align: right;
}

#treatment-submit-button button {
  margin-right: 50px;
}
