* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/*NAV*/
#navbar {
  background-color: blue;
  height: 68px;
}

#navbar h1 {
  color: white;
  font-size: 3em;
}

#right-nav-home {
  text-align: right;
  padding: 0;
}

#right-nav-home .button:first-of-type {
  border-right: 1px solid black;
  border-left: 2px solid black;
}

#right-nav-home .button {
  height: 68px;
  background-color: blue;
  color: white;

}

#navbar .grid {
  height: 68px;
  margin: 0;
}

#demo-button {
  text-align: left;
}

#header {
  padding-top: 0.5rem;
}

/*homepage images*/

#main-image {
  height: 320px;
  background: url('./img/lakehole_cropped.png') no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

#support-image {
  height: 240px;
  background: url('./img/check.png') no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/*homepage about*/

#about {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#about h3 {
  color: teal;
  font-size: 1.6em;
}

/*homepage details*/

#details h3 {
  color: teal;
  font-size: 1.2em;
}

#details {
  margin-top: 30px;
  margin-bottom: 30px;
}

#details ul {
  list-style: none;
  line-height: 2;
}

#details p {
  color: teal;
  font-weight: 800;
}

#details .eight {
  border-right: 1px solid black;
}

/*footer*/

#footer {
  height: 40px;
  background-color: blue;
  text-align: right;
  padding-right: 40px;
  padding-bottom: 0;
  color: white;
}
