/*NAV*/
#navbar {
  background-color: #78bec8;
  height: 68px;
}

#navbar h1 {
  color: white;
  font-size: 2.4em;
  padding-top: 6px;
}

#right-nav-home {
  text-align: right;
  padding: 0;
}

#right-nav-home .button:first-of-type {
  /*border-right: 1px solid black;
  border-left: 2px solid black;*/
}

#right-nav-home .button {
  /*height: 68px;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  background-color: #78bec8;
  color: white;
  margin-top: 14px;
}


#navbar .grid {
  height: 68px;
  margin: 0;
}

#demo-button {
  text-align: left;
}

#demo-button button {
  background-color: #EA4335;
  color: white;
}

#header {
  padding-top: 0.5rem;
}

#header h1, #about h3 {
  font-weight: 100;
}
