/*NAV*/
#navbar {
  background-color: #78bec8;
  height: 68px;
}

#navbar h1 {
  color: white;
  font-size: 2.4em;
  padding-top: 6px;
}

#right-nav-home {
  text-align: right;
  padding: 0;
}

#right-nav-home .button:first-of-type {
  /*border-right: 1px solid black;
  border-left: 2px solid black;*/
}

#right-nav-home .button {
  /*height: 68px;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  background-color: #78bec8;
  color: white;
  margin-top: 14px;
}


#navbar .grid {
  height: 68px;
  margin: 0;
}

#demo-button {
  text-align: left;
}

#demo-button button {
  background-color: #EA4335;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

#header {
  padding-top: 0.5rem;
}

#header h1, #about h3 {
  font-weight: 100;
}

#mobile-buttons {
  display: none;
}

/*media queries*/

@media only screen and (max-width: 992px) {
  #mobile-buttons {
    display: block;
  }

  #right-nav-home, #demo-button button {
    display: none;
  }
  #mobile-right-nav-home, #mobile-demo-button {
    display: inline-block;
  }
  #mobile-right-nav-home {
    width: 66%;
  }
  #mobile-right-nav-home button {
    width: 48%;
  }
  #mobile-demo-button button {
    width: 98%;
  }
  #mobile-demo-button {
    width: 33%;
  }
  #mobile-buttons {
    margin-top: 16px;
  }
  #navbar {
    margin-bottom: 120px;
  }
  .button {
    font-family: 'Raleway', sans-serif !important;
    height: 60px;
    font-weight: 500 !important;
    font-size: 1.2em !important;
    padding-top: 16px !important;
  }
}
