/*all form steps*/

.form-step {
  margin: 40px 0;
}

.form-step label, .form-step input, .form-step select {
  display: block !important;
  font-size: 1.6em;
}

.form-step select, .form-step input {
  height: 31px !important;
}

.form-step label {
  font-size: 1.3em;
  /*padding: 22px 0;*/
  height: 61px;
  line-height: 61px;
}

.form-step input, .form-step select {
  font-size: 1.6em;
  margin: 30px 0;
  width: 160px;
  color: #414141;
}

.form-step input:first-of-type {
  margin: 12px 0 22px 0;
}

.form-step .seven {
  text-align: right;
  padding-right: 40px;
  margin-top: -4px;

}

.form-step h3 {
  font-size: 1.8em;
}

.form-step .sixteen button {
  text-align: center !important;
}

#revenue-costs-submit-button {
  text-align: right;
}

#revenue-costs-submit-button button {
  margin-right: 50px;
}

#revenue-costs-submit-button button {
  color: white;
  background-color: crimson;
  width: 400px;
  height: 70px;
  font-size: 2.4em;
  padding: 0;
  text-align: right;
  padding-right: 14px;
  border-radius: 10px;
}
