/*all form steps*/

.form-step {
  margin: 40px 0;
}

.form-step label, .form-step input, .form-step select {
  display: block !important;
  font-size: 1.2em;
}

.form-step select, .form-step input {
  height: 31px !important;
}

.form-step label {
  font-size: 1.4em;
  /*padding: 22px 0;*/
  height: 61px;
  line-height: 61px;
}

.form-step input, .form-step select {
  font-size: 1.4em;
  margin: 10px 0;
  width: 160px;
  color: #414141;
}

.form-step input:first-of-type {
  margin: 12px 0 22px 0;
}

.form-step .seven {
  text-align: right;
  padding-right: 40px;
  margin-top: -4px;

}

.form-step h3 {
  font-size: 2em;
  font-weight: 600;
}

.form-step .sixteen button {
  text-align: center !important;
}

#revenue-costs-submit-button {
  text-align: right;
}

#revenue-costs-submit-button button {
  margin-right: 50px;
}

#revenue-costs-submit-button button {
  color: white;
  background-color: #EA4335;
  width: 150px;
  height: 45px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  padding: 0;
  text-align: right;
  padding-right: 14px;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
 .form-step .nine {
    margin-left: 30%;
  }
  .form-step label {
    height: 30px;
    line-height: normal;
  }
  .form-step label:first-of-type {
    margin-top: 40px;
  }

  .form-step .nine:last-of-type {
    margin-bottom: 40px;
  }

  #revenue-costs-submit-button button {
    width: 200px;
    height: 60px;
    font-size: 1em;
  }

  #revenue-costs-submit-button {
    text-align: right !important;
  }

  #sign-up-back-button button {
    width: 200px;
    height: 60px;
    font-size: 1em;
  }

  .sixteen {
      text-align: center !important;
    }
  .thirteen {
    display: none !important;
  }
  #sign-up-step {
    text-align: right;
  }

  #step1 .ui.grid>.column:not(.row), #step2 .ui.grid>.column:not(.row), #step3 .ui.grid>.column:not(.row), #step4 .ui.grid>.column:not(.row), #step5 .ui.grid>.column:not(.row), #step6 .ui.grid>.column:not(.row) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
